#bg-mirage {
    background-color: black;
}

#liston {
    background: rgb(55,52,36);
    background-image: linear-gradient(90deg, rgba(55,52,36,1) 0%, rgba(0,0,0,1) 50%, rgba(55,52,36,1) 100%);
}

    #liston::after {
        content: '';
        background-color: transparent;
        display: block;
        height: 20px;
        width: 50%;
        margin: 0 auto;
        position: relative;
        left: auto;
        margin-top: -40px;
    }

#anibayek {
     background-color: rgb(41, 41, 34);
     position: relative;
     margin-top: -20px;
     margin-bottom: -20px;
     z-index: 10;
     box-shadow: 0 0 10px rgb(0, 0,0);
}

    #anibayek img {
        position: relative;
        margin-top: -40px;
    }

        .text-bayek {
         text-shadow: 0px 5px 10px rgb(80, 85, 45);
        }

#separador-figuras {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
    
    #separador-figuras  .content {
        width: 400%;
        height: 100px;
        margin-left: -5%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    } 
.card-bordes {
    background-color: rgba(204, 164, 53, 0.144);
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

    .card-bordes:hover {
    transform: scale(1.10);
    }


#figuras {
    background: rgb(55,52,36);
    background-image: linear-gradient(90deg, rgba(55,52,36,1) 0%, rgba(0,0,0,1) 50%, rgba(55,52,36,1) 100%);
    
}

.card-figuras {
    background: none;
    background-color: none;
    background-image: none;   
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
    .card-figuras:hover {
    transform: scale(1.05);
    }

    .text-figura {
    text-shadow: 0px 5px 10px rgb(165, 170, 135);
    }

#plataformas {
    background: rgb(55,52,36);
    background-image: linear-gradient(90deg, rgba(55,52,36,1) 0%, rgba(0,0,0,1) 50%, rgba(55,52,36,1) 100%);     
 }    
